a {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}

li{
    display: inline-block;
}

.color-input{
    width:100%;
    height: 35px;
    margin-top: 50px;
}